mixin checkboxElement(name, text_label, isCheck, toggle)
  .checkbox__wrap
    if toggle
      if isCheck
        input(class="checkbox checkbox_toggle", type="checkbox", name=name, id=name, checked)
      else
        input(class="checkbox checkbox_toggle", type="checkbox", name=name, id=name)
    else
      if isCheck
        input(class="checkbox checkbox_check", type="checkbox", name=name, id=name, checked)
      else
        input(class="checkbox checkbox_check", type="checkbox", name=name, id=name)
    label(class="checkbox__label", for=name) #{text_label}
